{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
    <title>Participatory Land Use Planning Portal</title>
    <form method="GET" class="mb-4">

        <div class="input-group">

            <input
                type="text"
                name="search"
                class="form-control"
                placeholder="Search land use plans..."
            >

            <button class="btn btn-dark">
                Search
            </button>

        </div>

    </form>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link
        rel="stylesheet"
        href="https://unpkg.com/leaflet/dist/leaflet.css"
    />

    <script
        src="https://unpkg.com/leaflet/dist/leaflet.js">
    </script>
</head>

<body class="bg-light">

<div class="container mt-4">

    <div class="mb-3 text-end">

        <h5>

            Welcome,
            <strong>{{ request.user.username }}</strong>

            {% if request.user.is_superuser %}

                (Admin)

            {% elif request.user.groups.all.0.name == 'PlanningOfficer' %}

                (Planning Officer)

            {% else %}

                (Citizen)

            {% endif %}

        </h5>
        {% if is_officer %}

        <a href="/dashboard/" class="btn btn-dark btn-sm">
            Dashboard
        </a>

        <a href="/add-plan/" class="btn btn-success btn-sm">
            Add Plan
        </a>

        <a href="/manage-plans/"
            class="btn btn-warning btn-sm">

            Manage Plans

        </a>

        {% endif %}
        
        <a href="/logout/" class="btn btn-danger btn-sm">
            Logout
        </a>
    </div>
    

    <div class="text-center mb-4">
        <h1 class="fw-bold">Participatory Land Use Planning Portal</h1>
        <p class="text-muted">
            Citizens can review land use plans and provide feedback
        </p>
    </div>
<div class="card mb-4">

    <div class="card-body">

        <h3 class="mb-3">
            Land Use Planning Map
        </h3>

        <div
            id="map"
            style="height: 400px;"
        ></div>

    </div>

</div>
{% for plan in plans %}

<div class="card shadow-sm mb-4">

    {% if plan.image %}
        <img src="{{ plan.image.url }}"
             class="card-img-top"
             style="height:250px;object-fit:cover;">
    {% endif %}

    <div class="card-body">

        <h3>{{ plan.title }}</h3>

        <p>
            {{ plan.description|truncatewords:25 }}
        </p>

        <p>
            <strong>Location:</strong>
            {{ plan.location }}
        </p>

        {% if plan.status == "Open" %}

            <span class="badge bg-success">
                Open
            </span>

        {% elif plan.status == "Closed" %}

            <span class="badge bg-danger">
                Closed
            </span>

        {% else %}

            <span class="badge bg-secondary">
                Draft
            </span>

        {% endif %}

        <br><br>

        <a href="/plan/{{ plan.id }}/"
           class="btn btn-primary">

            View Details

        </a>

    </div>

</div>

{% endfor %}

</div>
<script>

    // create map
    var map = L.map('map').setView(
        [-6.7924, 39.2083],
        11
    );

    // map layer
    L.tileLayer(
        'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
        {
            attribution: 'OpenStreetMap'
        }
    ).addTo(map);

    {% for plan in plans %}

        L.marker([
            {{ plan.latitude }},
            {{ plan.longitude }}
        ])

        .addTo(map)

        .bindPopup(`
            <b>{{ plan.title }}</b><br>
            {{ plan.location }}
        `);

    {% endfor %}

</script>
{% endblock %}
</body>
</html>